.link-btn {
   color: #007185;
   font-size: .9rem;
   font-family: AmazonEmber_Rg;
   text-decoration: none;
   width: fit-content;
   height: fit-content;

   &:hover {
      text-decoration: underline;
      color: #C7511F
   }
}

.link-btn--header {
   color: white;

   &:hover {
      text-decoration: none;
      color: white;
   }
}

.link-btn--footer {
   color: #DDD;
   font-size: 14px;

   &:hover {
      color: #DDD;
   }
}

.link-btn--sponsor-info {
   color: rgb(85, 85, 85);
   font-size: 11px;

   &:hover {
      text-decoration: none;
   }
}

.button-btn {
   border: none;
   background-color: transparent;

   &:hover {
      cursor: pointer;
   }
}
