.carousel--ad {
   position: absolute;

   &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 20em;
      top: calc(100% - 20em);
      background: linear-gradient(transparent .1em,rgb(234,237,237));
   }

}

.carousel--products {
   height: 17.5rem;
   width: 96.6vw;
   box-sizing: border-box;
   margin: auto;
   padding: 0 2em;
   overflow: hidden;

   img { 
      margin: auto 1.5em auto 0em;
      height: 70%;
      width: auto; 
   }
}

@media (min-width:1500px){
   .carousel--ad {
      width: 1500px;
      margin-left: calc((100vw - 1500px)/2);
   }
   .carousel--products {
      width: 1319px;
   }
}