.footer {
   position: relative;
   height: auto;
   width: 100vw;
   display: flex;
   flex-direction: column;
}


// REDIRECT
.footer__redirect {
   display: flex;
   width: 100%;
   height: 3.5em;
   background-color: rgb(55,71,90);
   align-items: center;
   justify-content: center;
   text-decoration: none;

   p {
      font-family: AmazonEmber_Rg;
      color: #FFF;
      font-size: 13px;
   }

   &:hover {
      cursor: pointer;
      background-color: rgb(75, 91, 110);
   }
}


// CONTACTS
.footer__contacts {
   position: relative;
   width: 100%;
   height: 43em;
   background-color: rgb(36,47,63);
   color: #fff;
   display: flex;
   justify-content: center;

   .footer__contacts__section {
      height: auto;
      width: auto;
      margin: 2em 3.3em 0 3.3em;

      h3 {
         font-size: 16px;
         font-weight: 700;
         margin-bottom: .7em;
      }

      ul {
         max-width: 12em;
         list-style: none;
         margin: 0;
         padding-inline-start: 0;

         li {
            margin-bottom: 10px;
         }
      }
   }

   .footer__contacts__lang {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 9.5em;
      border-top: 1px solid #3a4553;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .footer__logo {
         width: 5.6em;
         height: 1.7em;
         background-image: url("../images/amazon-icons-sprite.png");
         background-size: 20em;
         background-position-y: -80em;
         background-position-x: -.5em;
         margin-bottom: 14px;
      }

      .contacts__lang__items {
         display: flex;
         flex-wrap: wrap;
         height: auto;
         width: 73%;
         margin: 0 auto;
         justify-content: center;
         align-items: center;

         .link-btn--footer {
            margin: 0px 8px;
            font-size: 12px;
         }
      }
   }
}


// SERVICES
.footer__services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 16em;
   background-color: rgb(20,26,34);

   .services__table {
      width: 75em;
      height: fit-content;
      margin: auto;
      border-collapse: separate;
      border-spacing: 3em 1em;
      margin-bottom: 0;

      td {
         vertical-align: top;
         padding: 0 .75em;
      }

      .link-btn--footer {
         p {
            margin: 0;
         }

         .service-title {
            color: rgb(221, 221, 221);
            font-size: 11px;
         }

         .service-desc {
            color: rgb(153, 153, 153);
            font-size: 10px;
         }
      }
   }

   .footer__copyright {
      display: flex;
      width: 78em;
      height: fit-content;
      margin: auto;
      justify-content: space-around;
      

      .link-btn--footer, p {
         color: rgb(221, 221, 221);
         font-size: 12px;
         margin: 0;
         font-family: AmazonEmber_Rg;
      }
   }
}