.search-bar {
   display: flex;
   position: relative;
   height: 100%;
   border: 2px solid transparent;
   box-sizing: border-box;

   &:focus-within {
      box-shadow: 
      0px 0px 1px 1px rgb(241,152,55),
      inset 0px 0px 100px 100px rgb(241,152,55);
      border: 2px solid rgb(241,152,55);
      border-radius: 4px;
   }
}

.search-bar__select {
   font-family: "AmazonEmber_Rg";
   font-weight: 200;
   font-size: 12px;
   width: 20%;
   height: 100%;
   border: none;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   background-color: #f3f3f3;
   border-right: 1px solid #ccc;
   color: rgb(70,69,67);
   appearance: none;
   cursor: pointer;
   padding-left: 1.2em;

   &:hover {
      background-color: rgb(218,218,218);
      color: black;
      font-weight: 500;
   }
}

.search-bar__input {
   width: 80%;
   height: 2.55rem;
   height: 100%;
   border: none;
   padding-left: 0.5em;
}

.search-bar__button {
   height: 100%;
   flex: 0 0 50px;
   background-color:#febd69;
   border: none;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   background-image: url("../images/amazon-icons-sprite.png");
   background-size: 29em;
   background-position-x: .12em;
   background-position-y: -60.7em;

   &:hover {
      background-color:rgb(243,168,71)
   }  
}  

@media (min-width: 1800px) {
   .search-bar__select {
      width: 11%;
   }
   .search-bar__input {
      width: 90%;
   }
}