.carousel {
   position: relative;
   background-color: white;
   overflow: hidden;
   display: flex;

   .carousel__slider {
      width: 100%;
      height: fit-content;
      display: flex;
   }

   img {
      cursor: pointer; 
   }
}

.carousel__left-arrow, .carousel__right-arrow {
   position: absolute;
}

